
			* {
  				font-family: "Open Sans", sans-serif;
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			body {
				background-color: #F8FAFC;
				display: flex;
				justify-content: center;
			}

			a {
				color: black;
				text-decoration: none;
			}

			a:hover {
				color: #444;
				font-weight: bold;
			}

			header {
				width: 100%;
			}

			.Navegacion {
				display: flex;
				justify-content: space-evenly;
				height: 4rem;
				align-items: center;
				width: 100%;
			}

			.Navegacion div * {
				margin-right: 4px;
			}

			.Navegacion div *:last-child {
				margin-right: 0;
			}

			.mainContent {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.genericSection {
				max-width: 600px;
			}
			

			h2 {
				color: #62748E;
				font-weight: normal;
				font-size: 1.4rem;
			}

			hr {
				margin-top: 3rem;
				margin-bottom: 3rem;
			}

			p {
				color: #314158;
			}

			.previewGrid {
				display: grid;
  				grid-template-columns: 1fr 1fr;
                column-gap: 4rem;
                row-gap: 1rem;
				max-width: 800px;
                margin-top: 2rem;
			}

			.Projecto {
				background-color: #ECF0F4;
				border-radius: 12px;
				padding: 1rem;
				padding-top: 1.5rem;
				display: flex;
				flex-direction: column;
			}

            #footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 4rem;
            }

            #footer * {
                color: #62748E;
            }

			.previewBlog {
				width: 100% ;
				margin-top: 2rem;
			}

			.pMultiline {
				line-height: 2.5rem;
			}
			
			.contactInfo {
				display: grid;
    			grid-template-columns: repeat(2, 1fr);
				grid-gap: 1rem;
			}